{
    "rules": {
        "font-family-no-duplicate-names": true,
        "function-calc-no-unspaced-operator": true,
        "shorthand-property-no-redundant-values": true,
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-colon-space-after": "always",
        "block-no-empty": true,
        "comment-no-empty": true,
        "no-duplicate-selectors": true,
        "indentation": [
            4, {
                "except": ["value"]
            }
        ],
        "color-named": "never",
        "color-no-invalid-hex": true,
        "comment-empty-line-before": [
            "always", {
                "ignore": ["stylelint-command", "after-comment"]
            }
        ],
        "value-no-vendor-prefix": true,
        "font-family-name-quotes": "always-unless-keyword",
        "number-leading-zero": "always",
        "number-no-trailing-zeros": true,
        "string-quotes": "single",
        "length-zero-no-unit": true,
        "max-empty-lines": 2,
        "rule-empty-line-before": [
            "always-multi-line", {
                "except": ["first-nested"],
                "ignore": ["after-comment"]
            }
        ],
        "unit-whitelist": ["px", "em", "rem", "fr", "deg", "%", "s", "ms"]
    }
}
